.time-range-picker {
  font-family: Arial, sans-serif;
}

.time-range-picker__wrapper {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}

.time-range-picker__inputGroup {
  margin: 5px 0;
}

.time-range-picker__input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  width: 70px;
  text-align: center;
}

.time-range-picker__clockButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.time-range-picker__clockButton:hover {
  background-color: #45a049;
}
